<!DOCTYPE html>
<html>
<head>

    <!-- Location of Vacation -->
    <title>Totel | <%= Locations.country%></title>
    <h2 text-align: center>Your Recommended Vacation</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Totel</h1>
    <bg-color: (,0,0,0)
    <div class="margin bg-warning text-dark"></div>

    <section class="parallax">
        <div class="parallax-inner">
            <!-- Location of Vacation -->
            <h1><%= Locations.country%></h1>
        </div>
    </section>

    <h2>Hotels</h2>

    <div class="btns-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Hotel Deals with Trivago
        </button>
        <div class="dropdown-menu">
            <!-- Trivago Link-->
            <a>
            <iframe 
                    width="1500"
                    height="425" 
                    src='<%= db.Locations.trivago %>'
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            </a>
        </div>
        </div>

<br>
<br>
    <div class="btns-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Hotel Deals with Hotels.com
        </button>
        <div class="dropdown-menu">
            <!-- AirBnb link to Website-->
            <a>
            <iframe                                                     
                    width="1500"
                    height="425" 
                    src=" <%=db.Locations.hotel.link%>"
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            </a>
        </div>
        </div>

<br>
<br>

<div>
    <!-- Activites in Vacation Destination -->

    <h3>Activities</h3>
    <ul class="list-group list-group-flush mt-5 text-light">
        <% for ( let i=0; i < taskToDo.length;  i++ ) { %>
            <li class="list-group-item" id="<%= taskToDo[i].id %>" ><%= taskToDo[i].taskItem %></li>
        <% } %>
    </ul>

</div>

<div>
        <h3>Restaraunts</h3>
        <!-- Restaraunts in Area -->
        <button id="search1" type="button" class="btn btn-secondary"> Local Restaraunts and Food</button>
        <script>
        var H = "Restaraunts in ";
        var localFood = db.Locations.food
        document.getElementById('search1').onclick = function() {
            window.open('http://google.com/search?q='+H+localFood);
        };
        </script>
    </div>
    
<div>
    <h3> Currency and Exchange Rate</h3>

</div>

    <button id="search" type="button" class="btn btn-secondary">Click for Currency Exchange</button>
<script>
var q = "exhange rate USD to ";
var localCurrency = db.Locations.currency
document.getElementById('search').onclick = function() {
    window.open('http://google.com/search?q='+q+localCurrency);
};
</script>

    <div class="margin"></div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<footer>
    &copy; Alex Wolfenden
</footer>
</html>
